.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #000000;
}

h1 {
  margin: 30px;
  font-family: sans-serif;
  text-shadow: 5px 0 #fff2f2;
  font-size: 8rem;
  color: #3eaed7;
}

p {
  font-size: 2rem;
  color: #3eaed7;
  font-family: sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
